@use "../fn";

// default
@layer forest {
  button {
    padding: fn.spacing(2) fn.spacing(4) fn.spacing(2) fn.spacing(4);
    min-height: var(--elem-height);
    border-radius: 0.2rem;
    font-size: 1rem;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
  }

  button:active {
    transition: all 0ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// filled
@layer forest {
  button.filled, button.filled.primary {
    background: var(--primary);

    &:hover {
      filter: brightness(1.4);
    }

    &:active {
      filter: brightness(0.9);
    }
  }

  button.filled.danger {
    background: var(--danger);

    &:hover {
      filter: brightness(1.4);
    }

    &:active {
      filter: brightness(0.9);
    }
  }

  button.filled.success {
    background: var(--success);

    &:hover {
      filter: brightness(1.4);
    }

    &:active {
      filter: brightness(0.9);
    }
  }

  button.filled.warning {
    background: var(--warning);

    &:hover {
      filter: brightness(1.1);
    }

    &:active {
      filter: brightness(0.9);
    }
  }

  button.filled.info {
    background: var(--info);
    color: var(--info-alt);

    &:hover {
      filter: brightness(1.3);
    }

    &:active {
      filter: brightness(0.9);
    }
  }
}

// outline
@layer forest {
  button.outlined, button.outlined.primary {
    border: 1px solid var(--primary);
    color: var(--primary);
    filter: brightness(0.9);

    &:hover {
      background-color: var(--primary);
      filter: brightness(1.4);
      color: var(--primary-alt);
    }

    &:active {
      filter: brightness(0.9);
    }
  }

  button.outlined.danger {
    border: 1px solid var(--danger);
    color: var(--danger);
    filter: brightness(0.9);

    &:hover {
      background-color: var(--danger);
      filter: brightness(1.4);
      color: var(--danger-alt);
    }

    &:active {
      filter: brightness(0.9);
    }
  }

  button.outlined.success {
    border: 1px solid var(--success);
    color: var(--success);
    filter: brightness(0.9);

    &:hover {
      background-color: var(--success);
      filter: brightness(1.4);
      color: var(--success-alt);
    }

    &:active {
      filter: brightness(0.9);
    }
  }

  button.outlined.warning {
    border: 1px solid var(--warning);
    color: var(--warning);
    filter: brightness(0.9);

    &:hover {
      background-color: var(--warning);
      filter: brightness(1.1);
      color: var(--warning-alt);
    }

    &:active {
      filter: brightness(0.9);
    }
  }

  button.outlined.info {
    border: 1px solid var(--info);
    color: var(--info);
    filter: brightness(0.9);

    &:hover {
      background-color: var(--info);
      filter: brightness(1.4);
      color: var(--info-alt);
    }

    &:active {
      filter: brightness(0.9);
    }
  }
}

// lined
@layer forest {
  button.lined {
    border: 1px solid transparent;


  }

  button.lined, button.lined.primary {
    color: var(--primary);
    filter: brightness(0.9);

    &:hover {
      border-color: var(--primary);
    }

    &:active {
      filter: brightness(0.6);
    }
  }

  button.lined.danger {
    color: var(--danger);

    &:hover {
      border-color: var(--danger);
    }

    &:active {
      filter: brightness(0.6);
    }
  }

  button.lined.success {
    color: var(--success);

    &:hover {
      border-color: var(--success);
    }

    &:active {
      filter: brightness(0.6);
    }
  }

  button.lined.warning {
    color: var(--warning);

    &:hover {
      border-color: var(--warning);
    }

    &:active {
      filter: brightness(0.6);
    }
  }

  button.lined.info {
    color: var(--info);

    &:hover {
      border-color: var(--info);
    }

    &:active {
      filter: brightness(0.3);
    }
  }
}