@use "../fn";

@layer forest {
  dialog {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-modal);
    background-color: var(--suspend);
  }

  dialog .cont {
    background-color: var(--modal);
    border-radius: fn.spacing(2);
    box-shadow: fn.spacing(2) fn.spacing(2) fn.spacing(2) var(--shadow);
    min-width: 300px;
  }

  .cont {
    h3.header {
      padding-left: fn.spacing(3);
      padding-right: fn.spacing(3);
      border-bottom: 1px solid var(--border);
      margin-bottom: 0;
    }

    article {
      padding: fn.spacing(3);
    }
  }
}