@use "../fn";

@layer forest {
  dialog.forest {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-modal);
    background-color: var(--suspend);
  }
}