@use "../fn";

@layer forest {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "raleway", "astasans", sans, serif;
    margin-bottom: fn.spacing(1);
    color: var(--primary);
    filter: brightness(0.4);
  }

  h1 {
    font-size: theme(--text-4xl);
  }

  h2 {
    font-size: theme(--text-3xl);
  }

  h3 {
    font-size: theme(--text-2xl);
  }

  h4 {
    font-size: theme(--text-xl);
  }

  h5 {
    font-size: theme(--text-lg);
  }

  h6 {
  }
}